mixin HeroCard({ link, img, name, desc, invalid })
  a.hero-card(href=link, class={ invalid })
    .hero-avatar
      img(src=`/images/${img}`, alt=`${name} logo`)
    .hero-name
      h3.hero-title= name
      .hero-desc= desc